{% extends "base.html" %}

{% block content %}
{% if not current_user.is_authenticated %}
<h1 class="title">
  Menu suggestions for today
</h1>
<h2 class="subtitle">
  Please login first
</h2>
{% endif %}
{% if current_user.is_authenticated %}
<h1 class="title">
  Menu suggestions for today
</h1>

<ul>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="notification is-danger">
    {{ messages[0] }}
  </div>
  {% endif %}
  {% endwith %}
  {% for item in data %}


  <a href="" class="block overflow-hidden rounded-2xl">
  <img class="object-cover w-full h-56" src="../static/Food_Images/{{item.Image_Name}}" />
  <div class="p-4 bg-gray-900">
    <h5 class="text-sm text-white">{{item.Title}}</h5>
<!--    <p class="mt-1 text-xs text-gray-500">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum nobis aliquid accusamus? Sint, sequi voluptas.</p>-->
        <form action="/add-favorite" method="POST">
        <div class="control">
          <input name="foodTitle" value="{{item.Title}}" hidden>
          <input name="userID" value="{{userid}}" hidden>
          <input name="foodPicture" value="{{item.Image_Name}}" hidden>
          <button class="button is-link has-background-primary">Add to favorite</button>
        </div>
      </form>
  </div>
</a>
<br/>
  {% endfor %}

</ul>
{% endif %}
{% endblock %}